
.navigation

{	padding-top: 10px; 
	width: 100%;
	display:flex;
	flex-direction: row;
	padding-right: 100px;
	justify-content: space-around;
	height:70px;
	position: fixed;
	background: white;
	border-bottom: 4px solid #008395 ;
}
 #logo h1{

		text-align: center;
		font-size: 28px;
		
		padding: 0 20px 0 20px ; 
		color: #00bcd4; 
		flex: 2, 1, 100px; 
		border-bottom: black solid 2px;

}


.navigation ul{

	text-align: right;
	padding-top: 10px; 
	display: flex;
	flex: 4,1,100px;
	list-style-type: none;
	
}

.navigation li{
		flex-direction: row;
		margin: 0 20px 0 20px;
		padding: 0 10px 0 10px;
		vertical-align: middle; 
		
}

.navbar-center li{
	margin: 0 15px;
}

.navigation a{
	text-decoration: none;
	color: #727272;	




}

ul a:hover{
	border-bottom: #00bcd4 solid 3px ;
	color: #00bcd4;
}

.dropdown {

   flex: 1;
}
.dropdown-content {
	color:white;
  	display: none;
    flex-direction: column;
    text-align: center;
    background-color: #008395;
    width: inherit;
     box-shadow: 3px 3px 20px #888888;
}
.dropdown-content a{
	color:white;
	padding: 10px;
}

.dropdown-content a:hover{
	color:white;
	background-color: #00bcd4;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
     display: flex;
     color:white;
}